/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body{
    background-color: lightgrey;
    font-family: Arial;
}

/* HEADER */
header{
    background-color: white;
}

h1{
    display: inline;
    font-weight: 800;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    padding: 10px;
}

/* MAIN */
.first-container{
    width: 50%;
    background-color: white;
    margin: 20px auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    line-height: 50px;

}

#add-task{
    background-color: #1e90ff;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-left: 30px;
    
}

#add-section{
    background-color: white;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    color: grey;
    border-color: grey;
}


